@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Instrument Serif", "Inria Serif", serif;
    background-color: #000  !important;
}

/* Titulos principales con más peso y -2% tracking */
h1,
h2,
.heroTitle,
.servicesTitle {
    font-weight: 900;
    letter-spacing: -0.02em; /* ≈ -2% */
}