.faqsSection{
    margin-top: 0;
    margin-bottom: 0;
    background-color: #000;
    padding: 140px 20px;
    width: 100%;
}

.faqs{
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.05) !important;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
}

.faqCard{
    border-radius: 35px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.faqCard:hover{
    background-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 1024px){
    .faqs{
        width: 96%;
        margin: 0 auto;
    }
}