.footer{
    width: 100%;
    background-color: #0f0f0f;
    border-radius: 35px 35px 0px 0px;
    height: auto;
    box-shadow: 0px -8px 30px rgba(0, 0, 0, 0.35);
    overflow-x: hidden;
    margin: 0 auto;
}

.email{
    text-decoration: none;
    color: #fff;
}

.icon{
    color: #fff;
    transition: color 0.3s ease;
}

.icon:hover{
    color: #ff80bf;
}

.legalLinks {
    color: #ff80bf !important;
    text-decoration: none !important;
}

.legalLinks:hover {
    text-decoration: underline !important;
}

.ivanLevyLink {
    color: #ff80bf !important;
    text-decoration: none !important;
}

.ivanLevyLink:hover {
    text-decoration: underline !important;
}


@media screen and (min-width: 1025px) {
    
}

@media screen and (max-width: 1024px) {
    .footer{
      padding-right: 5%;
      padding-left: 5%;
    }
    .footerImg{
        width: 65px !important;
    }
  }
  
@media screen and (max-width: 768px) {
    .footer{
      padding-left: 5%;
      padding-right: 5%;
    }
    .footerImg{
        width: 65px !important;
    }
  }
  