.header{
    position: relative;
    height: 100vh;
    border-radius: 0 0 35px 35px;
    overflow: hidden;
    background:
      linear-gradient(to bottom, rgba(250,250,250,1) 70%, rgba(250,250,250,0) 100%);
}

.headerParticles {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.headerButton {
  border-radius: 35px;
  padding: 12px 17px;
  color: #fff !important;
  background: linear-gradient(to bottom, #ff80bf, #ea9c9c) !important;
  cursor: pointer;
  font-size: 0.88rem;
  transition: all 0.3s ease;
  text-decoration: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.headerButton:hover {
  color: #000 !important; /* Cambia a un color diferente */
}

.heroTitle {
    font-size: 3.5rem;
    line-height: 1.2;
}

.hero {
    position: relative;
    z-index: 1;
    /* Asegura que el contenido “baje” un poco sobre la siguiente sección */
    padding-bottom: 4rem;
}

.heroText {
    font-size: 1.25rem;
    line-height: 1.5;
}

@media (max-width: 1024px) {
    .heroTitle {
        font-size: 3rem;
    }
    .heroText {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    .hero {
        padding: 0 20px;
        height: auto;
        min-height: 100vh;
    }
    .heroTitle {
        font-size: 2.2rem;
    }
    .heroText {
        font-size: 1rem;
    }
    .headerButton, .navButton2 {
        width: 20%;
        margin-bottom: 10px;
    }
}

@media (max-width: 612px){
    .headerButton, .navButton2 {
        width: 30%;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .heroTitle {
        font-size: 1.8rem;
    }
    .heroText {
        font-size: 0.9rem;
    }
    .hero {
        padding: 0 15px;
    }
}