.services{
    min-height: 100vh;
    display: flex;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    flex-direction: column;
}

.borderRadius{
    border-radius: 35px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}