.services{
    height: auto !important;
    display: flex;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    flex-direction: column;
}

.servicesTitle{
    font-size: 3rem;
    font-weight: bold;
}

.borderRadius{
    border-radius: 35px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1024px){
    .servicesTitle{
        font-size: 2.5rem;
    }
    .services {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 768px){
    .servicesTitle{
        font-size: 2rem !important;
    }
    .services {
        padding-left: 15px;
        padding-right: 15px;
    }
    .borderRadius {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px){
    .servicesTitle{
        font-size: 1.8rem !important;
    }
    .services {
        padding-left: 10px;
        padding-right: 10px;
    }
}