.steps{
    border-radius: 35px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.05) !important;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.stepsSection{
    height: auto;
    background-color: #000;
    color: #fff;
}

.link{
    margin-top: -15px;
    margin-bottom: 15px;
}

@media (max-width: 1024px){
    .stepsSection{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 768px){
    .steps{
        font-size: 0.8rem;
        padding: 14px !important;
    }
.stepsTitle{
    padding: 0 6px 0 6px;
    color: #fff;
}
.stepsTitleSquare{
    font-size: 0.85rem;
    color: #fff;
}
}